    <!-- Your newsletter code -->

    <div class="text-center padded" id="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input placeholder="bob@gmail.com" class="form-control" type="email">
        <input value="Subscribe" class="btn btn-primary" type="submit">
      </form>
    </div>
